In [1]:
import pandas as pd
df = pd.read_excel("Provisional_COVID-19_Deaths_by_Sex_and_Age_20240708.xlsm")
df

,Data As Of,Start Date,End Date,Group,Unnamed: 4,Unnamed: 5,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,2023-09-27,2020-01-01,2023-09-23,By Total,NaN,NaN,United States,All Sexes,All Ages,1146774.0,12303399.0,1162844.0,569264.0,22229.0,1760095.0,NaN
1,2023-09-27,2020-01-01,2023-09-23,By Total,NaN,NaN,United States,All Sexes,Under 1 year,519.0,73213.0,1056.0,95.0,64.0,1541.0,NaN
2,2023-09-27,2020-01-01,2023-09-23,By Total,NaN,NaN,United States,All Sexes,0-17 years,1696.0,130970.0,2961.0,424.0,509.0,4716.0,NaN
3,2023-09-27,2020-01-01,2023-09-23,By Total,NaN,NaN,United States,All Sexes,1-4 years,285.0,14299.0,692.0,66.0,177.0,1079.0,NaN
4,2023-09-27,2020-01-01,2023-09-23,By Total,NaN,NaN,United States,All Sexes,5-14 years,509.0,22008.0,818.0,143.0,219.0,1390.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137695,2023-09-27,2023-09-01,2023-09-23,By Month,NaN,NaN,Puerto Rico,Female,50-64 years,NaN,75.0,14.0,NaN,0.0,14.0,One or more data cells have counts between 1-9...
137696,2023-09-27,2023-09-01,2023-09-23,By Month,NaN,NaN,Puerto Rico,Female,55-64 years,0.0,65.0,10.0,0.0,0.0,10.0,NaN
137697,2023-09-27,2023-09-01,2023-09-23,By Month,NaN,NaN,Puerto Rico,Female,65-74 years,NaN,91.0,NaN,NaN,0.0,NaN,One or more data cells have counts between 1-9...
137698,2023-09-27,2023-09-01,2023-09-23,By Month,NaN,NaN,Puerto Rico,Female,75-84 years,NaN,211.0,36.0,NaN,0.0,38.0,One or more data cells have counts between 1-9...
137699,2023-09-27,2023-09-01,2023-09-23,By Month,NaN,NaN,Puerto Rico,Female,85 years and over,NaN,265.0,42.0,NaN,NaN,44.0,One or more data cells have counts between 1-9...

In [2]:
df=df.drop(columns=["Unnamed: 4","Unnamed: 5","Footnote", "Pneumonia, Influenza, or COVID-19 Deaths", "Start Date", "End Date", "Pneumonia and COVID-19 Deaths"])

In [3]:
df.columns

Index(['Data As Of', 'Group', 'State', 'Sex', 'Age Group', 'COVID-19 Deaths',
       'Total Deaths', 'Pneumonia Deaths', 'Influenza Deaths'],
      dtype='object')

In [4]:
df

,Data As Of,Group,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Influenza Deaths
0,2023-09-27,By Total,United States,All Sexes,All Ages,1146774.0,12303399.0,1162844.0,22229.0
1,2023-09-27,By Total,United States,All Sexes,Under 1 year,519.0,73213.0,1056.0,64.0
2,2023-09-27,By Total,United States,All Sexes,0-17 years,1696.0,130970.0,2961.0,509.0
3,2023-09-27,By Total,United States,All Sexes,1-4 years,285.0,14299.0,692.0,177.0
4,2023-09-27,By Total,United States,All Sexes,5-14 years,509.0,22008.0,818.0,219.0
...,...,...,...,...,...,...,...,...,...
137695,2023-09-27,By Month,Puerto Rico,Female,50-64 years,NaN,75.0,14.0,0.0
137696,2023-09-27,By Month,Puerto Rico,Female,55-64 years,0.0,65.0,10.0,0.0
137697,2023-09-27,By Month,Puerto Rico,Female,65-74 years,NaN,91.0,NaN,0.0
137698,2023-09-27,By Month,Puerto Rico,Female,75-84 years,NaN,211.0,36.0,0.0
137699,2023-09-27,By Month,Puerto Rico,Female,85 years and over,NaN,265.0,42.0,NaN

In [5]:
df=df.fillna(0)

In [6]:
df[["COVID-19 Deaths","Total Deaths", "Pneumonia Deaths", "Influenza Deaths"]]=df[["COVID-19 Deaths","Total Deaths", "Pneumonia Deaths", "Influenza Deaths"]].astype(int)

In [8]:
df

,Data As Of,Group,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Influenza Deaths
0,2023-09-27,By Total,United States,All Sexes,All Ages,1146774,12303399,1162844,22229
1,2023-09-27,By Total,United States,All Sexes,Under 1 year,519,73213,1056,64
2,2023-09-27,By Total,United States,All Sexes,0-17 years,1696,130970,2961,509
3,2023-09-27,By Total,United States,All Sexes,1-4 years,285,14299,692,177
4,2023-09-27,By Total,United States,All Sexes,5-14 years,509,22008,818,219
...,...,...,...,...,...,...,...,...,...
137695,2023-09-27,By Month,Puerto Rico,Female,50-64 years,0,75,14,0
137696,2023-09-27,By Month,Puerto Rico,Female,55-64 years,0,65,10,0
137697,2023-09-27,By Month,Puerto Rico,Female,65-74 years,0,91,0,0
137698,2023-09-27,By Month,Puerto Rico,Female,75-84 years,0,211,36,0
137699,2023-09-27,By Month,Puerto Rico,Female,85 years and over,0,265,42,0

In [16]:
df2 = pd.read_excel("estimated_us population.xlsx", header=3,nrows=58)
df2

,Unnamed: 0,Unnamed: 1,2020,2021,2022,2023
0,United States,331464948.0,331526933.0,332048977.0,333271411.0,334914895.0
1,Northeast,57614141.0,57430477.0,57243423.0,57026847.0,56983517.0
2,Midwest,68987296.0,68969794.0,68850246.0,68783028.0,68909283.0
3,South,126268529.0,126465281.0,127353282.0,128702030.0,130125290.0
4,West,78594982.0,78661381.0,78602026.0,78759506.0,78896805.0
5,.Alabama,5024294.0,5031864.0,5050380.0,5073903.0,5108468.0
6,.Alaska,733374.0,732964.0,734923.0,733276.0,733406.0
7,.Arizona,7157902.0,7186683.0,7272487.0,7365684.0,7431344.0
8,.Arkansas,3011490.0,3014348.0,3028443.0,3046404.0,3067732.0
9,.California,39538212.0,39503200.0,39145060.0,39040616.0,38965193.0
10,.Colorado,5773707.0,5785219.0,5811596.0,5841039.0,5877610.0
11,.Connecticut,3605912.0,3577586.0,3603691.0,3608706.0,3617176.0
12,.Delaware,989946.0,991862.0,1004881.0,1019459.0,1031890.0
13,.District of Columbia,689548.0,670839.0,669037.0,670949.0,678972.0
14,.Florida,21538216.0,21591299.0,21830708.0,22245521.0,22610726.0
15,.Georgia,10713771.0,10732390.0,10790385.0,10913150.0,11029227.0
16,.Hawaii,1455274.0,1451181.0,1446745.0,1439399.0,1435138.0
17,.Idaho,1839117.0,1849339.0,1904537.0,1938996.0,1964726.0
18,.Illinois,12813469.0,12790357.0,12690341.0,12582515.0,12549689.0
19,.Indiana,6785442.0,6789098.0,6813798.0,6832274.0,6862199.0
20,.Iowa,3190427.0,3190904.0,3197944.0,3199693.0,3207004.0
21,.Kansas,2937835.0,2938124.0,2937946.0,2936716.0,2940546.0
22,.Kentucky,4506297.0,4508155.0,4507600.0,4511563.0,4526154.0
23,.Louisiana,4657785.0,4652022.0,4627047.0,4588023.0,4573749.0
24,.Maine,1363177.0,1364517.0,1378787.0,1389338.0,1395722.0
25,.Maryland,6177253.0,6173689.0,6175045.0,6163981.0,6180253.0
26,.Massachusetts,7032933.0,6997713.0,6991951.0,6982740.0,7001399.0
27,.Michigan,10077674.0,10070627.0,10038117.0,10033281.0,10037261.0
28,.Minnesota,5706804.0,5710578.0,5717968.0,5714300.0,5737915.0
29,.Mississippi,2961306.0,2958409.0,2949582.0,2938928.0,2939690.0
30,.Missouri,6154889.0,6154426.0,6170393.0,6177168.0,6196156.0
31,.Montana,1084244.0,1087211.0,1106366.0,1122878.0,1132812.0
32,.Nebraska,1961965.0,1963273.0,1964253.0,1968060.0,1978379.0
33,.Nevada,3104617.0,3115840.0,3146632.0,3177421.0,3194176.0
34,.New Hampshire,1377524.0,1378702.0,1387494.0,1399003.0,1402054.0
35,.New Jersey,9289039.0,9272392.0,9269175.0,9260817.0,9290841.0
36,.New Mexico,2117525.0,2118488.0,2116950.0,2113476.0,2114371.0
37,.New York,20202320.0,20104710.0,19854526.0,19673200.0,19571216.0
38,.North Carolina,10439459.0,10453812.0,10567100.0,10695965.0,10835491.0
39,.North Dakota,779079.0,779563.0,777982.0,778912.0,783926.0
40,.Ohio,11799331.0,11798292.0,11765227.0,11759697.0,11785935.0
41,.Oklahoma,3959411.0,3965234.0,3991634.0,4019271.0,4053824.0
42,.Oregon,4237279.0,4245044.0,4256465.0,4239379.0,4233358.0
43,.Pennsylvania,13002788.0,12995477.0,13013614.0,12972091.0,12961683.0
44,.Rhode Island,1097371.0,1096444.0,1097092.0,1093842.0,1095962.0
45,.South Carolina,5118422.0,5132151.0,5193848.0,5282955.0,5373555.0
46,.South Dakota,886668.0,887852.0,896299.0,909869.0,919318.0
47,.Tennessee,6910786.0,6926091.0,6963709.0,7048976.0,7126489.0
48,.Texas,29145459.0,29234361.0,29561286.0,30029848.0,30503301.0
49,.Utah,3271614.0,3283982.0,3339284.0,3381236.0,3417734.0
50,.Vermont,643077.0,642936.0,647093.0,647110.0,647464.0
51,.Virginia,8631373.0,8637193.0,8657348.0,8679099.0,8715698.0
52,.Washington,7705267.0,7724566.0,7741433.0,7784477.0,7812880.0
53,.West Virginia,1793713.0,1791562.0,1785249.0,1774035.0,1770071.0
54,.Wisconsin,5893713.0,5896700.0,5879978.0,5890543.0,5910955.0
55,.Wyoming,576850.0,577664.0,579548.0,581629.0,584057.0
56,NaN,NaN,NaN,NaN,NaN,NaN
57,.Puerto Rico,3285874.0,3281557.0,3262693.0,3220113.0,3205691.0

In [17]:
df2=df2.rename(columns={"Unnamed: 0":"Geographic Area", "Unnamed: 1":"April 1, 2020"})
df2

,Geographic Area,"April 1, 2020",2020,2021,2022,2023
0,United States,331464948.0,331526933.0,332048977.0,333271411.0,334914895.0
1,Northeast,57614141.0,57430477.0,57243423.0,57026847.0,56983517.0
2,Midwest,68987296.0,68969794.0,68850246.0,68783028.0,68909283.0
3,South,126268529.0,126465281.0,127353282.0,128702030.0,130125290.0
4,West,78594982.0,78661381.0,78602026.0,78759506.0,78896805.0
5,.Alabama,5024294.0,5031864.0,5050380.0,5073903.0,5108468.0
6,.Alaska,733374.0,732964.0,734923.0,733276.0,733406.0
7,.Arizona,7157902.0,7186683.0,7272487.0,7365684.0,7431344.0
8,.Arkansas,3011490.0,3014348.0,3028443.0,3046404.0,3067732.0
9,.California,39538212.0,39503200.0,39145060.0,39040616.0,38965193.0
10,.Colorado,5773707.0,5785219.0,5811596.0,5841039.0,5877610.0
11,.Connecticut,3605912.0,3577586.0,3603691.0,3608706.0,3617176.0
12,.Delaware,989946.0,991862.0,1004881.0,1019459.0,1031890.0
13,.District of Columbia,689548.0,670839.0,669037.0,670949.0,678972.0
14,.Florida,21538216.0,21591299.0,21830708.0,22245521.0,22610726.0
15,.Georgia,10713771.0,10732390.0,10790385.0,10913150.0,11029227.0
16,.Hawaii,1455274.0,1451181.0,1446745.0,1439399.0,1435138.0
17,.Idaho,1839117.0,1849339.0,1904537.0,1938996.0,1964726.0
18,.Illinois,12813469.0,12790357.0,12690341.0,12582515.0,12549689.0
19,.Indiana,6785442.0,6789098.0,6813798.0,6832274.0,6862199.0
20,.Iowa,3190427.0,3190904.0,3197944.0,3199693.0,3207004.0
21,.Kansas,2937835.0,2938124.0,2937946.0,2936716.0,2940546.0
22,.Kentucky,4506297.0,4508155.0,4507600.0,4511563.0,4526154.0
23,.Louisiana,4657785.0,4652022.0,4627047.0,4588023.0,4573749.0
24,.Maine,1363177.0,1364517.0,1378787.0,1389338.0,1395722.0
25,.Maryland,6177253.0,6173689.0,6175045.0,6163981.0,6180253.0
26,.Massachusetts,7032933.0,6997713.0,6991951.0,6982740.0,7001399.0
27,.Michigan,10077674.0,10070627.0,10038117.0,10033281.0,10037261.0
28,.Minnesota,5706804.0,5710578.0,5717968.0,5714300.0,5737915.0
29,.Mississippi,2961306.0,2958409.0,2949582.0,2938928.0,2939690.0
30,.Missouri,6154889.0,6154426.0,6170393.0,6177168.0,6196156.0
31,.Montana,1084244.0,1087211.0,1106366.0,1122878.0,1132812.0
32,.Nebraska,1961965.0,1963273.0,1964253.0,1968060.0,1978379.0
33,.Nevada,3104617.0,3115840.0,3146632.0,3177421.0,3194176.0
34,.New Hampshire,1377524.0,1378702.0,1387494.0,1399003.0,1402054.0
35,.New Jersey,9289039.0,9272392.0,9269175.0,9260817.0,9290841.0
36,.New Mexico,2117525.0,2118488.0,2116950.0,2113476.0,2114371.0
37,.New York,20202320.0,20104710.0,19854526.0,19673200.0,19571216.0
38,.North Carolina,10439459.0,10453812.0,10567100.0,10695965.0,10835491.0
39,.North Dakota,779079.0,779563.0,777982.0,778912.0,783926.0
40,.Ohio,11799331.0,11798292.0,11765227.0,11759697.0,11785935.0
41,.Oklahoma,3959411.0,3965234.0,3991634.0,4019271.0,4053824.0
42,.Oregon,4237279.0,4245044.0,4256465.0,4239379.0,4233358.0
43,.Pennsylvania,13002788.0,12995477.0,13013614.0,12972091.0,12961683.0
44,.Rhode Island,1097371.0,1096444.0,1097092.0,1093842.0,1095962.0
45,.South Carolina,5118422.0,5132151.0,5193848.0,5282955.0,5373555.0
46,.South Dakota,886668.0,887852.0,896299.0,909869.0,919318.0
47,.Tennessee,6910786.0,6926091.0,6963709.0,7048976.0,7126489.0
48,.Texas,29145459.0,29234361.0,29561286.0,30029848.0,30503301.0
49,.Utah,3271614.0,3283982.0,3339284.0,3381236.0,3417734.0
50,.Vermont,643077.0,642936.0,647093.0,647110.0,647464.0
51,.Virginia,8631373.0,8637193.0,8657348.0,8679099.0,8715698.0
52,.Washington,7705267.0,7724566.0,7741433.0,7784477.0,7812880.0
53,.West Virginia,1793713.0,1791562.0,1785249.0,1774035.0,1770071.0
54,.Wisconsin,5893713.0,5896700.0,5879978.0,5890543.0,5910955.0
55,.Wyoming,576850.0,577664.0,579548.0,581629.0,584057.0
56,NaN,NaN,NaN,NaN,NaN,NaN
57,.Puerto Rico,3285874.0,3281557.0,3262693.0,3220113.0,3205691.0

In [21]:
df2=df2.dropna()
df2.columns

Index(['Geographic Area', 'April 1, 2020', 2020, 2021, 2022, 2023], dtype='object')

In [24]:
df2[["April 1, 2020",2020, 2021, 2022, 2023]]=df2[["April 1, 2020",2020, 2021, 2022, 2023]].astype(int)

In [25]:
df2

,Geographic Area,"April 1, 2020",2020,2021,2022,2023
0,United States,331464948,331526933,332048977,333271411,334914895
1,Northeast,57614141,57430477,57243423,57026847,56983517
2,Midwest,68987296,68969794,68850246,68783028,68909283
3,South,126268529,126465281,127353282,128702030,130125290
4,West,78594982,78661381,78602026,78759506,78896805
5,.Alabama,5024294,5031864,5050380,5073903,5108468
6,.Alaska,733374,732964,734923,733276,733406
7,.Arizona,7157902,7186683,7272487,7365684,7431344
8,.Arkansas,3011490,3014348,3028443,3046404,3067732
9,.California,39538212,39503200,39145060,39040616,38965193
10,.Colorado,5773707,5785219,5811596,5841039,5877610
11,.Connecticut,3605912,3577586,3603691,3608706,3617176
12,.Delaware,989946,991862,1004881,1019459,1031890
13,.District of Columbia,689548,670839,669037,670949,678972
14,.Florida,21538216,21591299,21830708,22245521,22610726
15,.Georgia,10713771,10732390,10790385,10913150,11029227
16,.Hawaii,1455274,1451181,1446745,1439399,1435138
17,.Idaho,1839117,1849339,1904537,1938996,1964726
18,.Illinois,12813469,12790357,12690341,12582515,12549689
19,.Indiana,6785442,6789098,6813798,6832274,6862199
20,.Iowa,3190427,3190904,3197944,3199693,3207004
21,.Kansas,2937835,2938124,2937946,2936716,2940546
22,.Kentucky,4506297,4508155,4507600,4511563,4526154
23,.Louisiana,4657785,4652022,4627047,4588023,4573749
24,.Maine,1363177,1364517,1378787,1389338,1395722
25,.Maryland,6177253,6173689,6175045,6163981,6180253
26,.Massachusetts,7032933,6997713,6991951,6982740,7001399
27,.Michigan,10077674,10070627,10038117,10033281,10037261
28,.Minnesota,5706804,5710578,5717968,5714300,5737915
29,.Mississippi,2961306,2958409,2949582,2938928,2939690
30,.Missouri,6154889,6154426,6170393,6177168,6196156
31,.Montana,1084244,1087211,1106366,1122878,1132812
32,.Nebraska,1961965,1963273,1964253,1968060,1978379
33,.Nevada,3104617,3115840,3146632,3177421,3194176
34,.New Hampshire,1377524,1378702,1387494,1399003,1402054
35,.New Jersey,9289039,9272392,9269175,9260817,9290841
36,.New Mexico,2117525,2118488,2116950,2113476,2114371
37,.New York,20202320,20104710,19854526,19673200,19571216
38,.North Carolina,10439459,10453812,10567100,10695965,10835491
39,.North Dakota,779079,779563,777982,778912,783926
40,.Ohio,11799331,11798292,11765227,11759697,11785935
41,.Oklahoma,3959411,3965234,3991634,4019271,4053824
42,.Oregon,4237279,4245044,4256465,4239379,4233358
43,.Pennsylvania,13002788,12995477,13013614,12972091,12961683
44,.Rhode Island,1097371,1096444,1097092,1093842,1095962
45,.South Carolina,5118422,5132151,5193848,5282955,5373555
46,.South Dakota,886668,887852,896299,909869,919318
47,.Tennessee,6910786,6926091,6963709,7048976,7126489
48,.Texas,29145459,29234361,29561286,30029848,30503301
49,.Utah,3271614,3283982,3339284,3381236,3417734
50,.Vermont,643077,642936,647093,647110,647464
51,.Virginia,8631373,8637193,8657348,8679099,8715698
52,.Washington,7705267,7724566,7741433,7784477,7812880
53,.West Virginia,1793713,1791562,1785249,1774035,1770071
54,.Wisconsin,5893713,5896700,5879978,5890543,5910955
55,.Wyoming,576850,577664,579548,581629,584057
57,.Puerto Rico,3285874,3281557,3262693,3220113,3205691

In [27]:
df2["Geographic Area"]=df2["Geographic Area"].str.replace(".","")
df2

,Geographic Area,"April 1, 2020",2020,2021,2022,2023
0,United States,331464948,331526933,332048977,333271411,334914895
1,Northeast,57614141,57430477,57243423,57026847,56983517
2,Midwest,68987296,68969794,68850246,68783028,68909283
3,South,126268529,126465281,127353282,128702030,130125290
4,West,78594982,78661381,78602026,78759506,78896805
5,Alabama,5024294,5031864,5050380,5073903,5108468
6,Alaska,733374,732964,734923,733276,733406
7,Arizona,7157902,7186683,7272487,7365684,7431344
8,Arkansas,3011490,3014348,3028443,3046404,3067732
9,California,39538212,39503200,39145060,39040616,38965193
10,Colorado,5773707,5785219,5811596,5841039,5877610
11,Connecticut,3605912,3577586,3603691,3608706,3617176
12,Delaware,989946,991862,1004881,1019459,1031890
13,District of Columbia,689548,670839,669037,670949,678972
14,Florida,21538216,21591299,21830708,22245521,22610726
15,Georgia,10713771,10732390,10790385,10913150,11029227
16,Hawaii,1455274,1451181,1446745,1439399,1435138
17,Idaho,1839117,1849339,1904537,1938996,1964726
18,Illinois,12813469,12790357,12690341,12582515,12549689
19,Indiana,6785442,6789098,6813798,6832274,6862199
20,Iowa,3190427,3190904,3197944,3199693,3207004
21,Kansas,2937835,2938124,2937946,2936716,2940546
22,Kentucky,4506297,4508155,4507600,4511563,4526154
23,Louisiana,4657785,4652022,4627047,4588023,4573749
24,Maine,1363177,1364517,1378787,1389338,1395722
25,Maryland,6177253,6173689,6175045,6163981,6180253
26,Massachusetts,7032933,6997713,6991951,6982740,7001399
27,Michigan,10077674,10070627,10038117,10033281,10037261
28,Minnesota,5706804,5710578,5717968,5714300,5737915
29,Mississippi,2961306,2958409,2949582,2938928,2939690
30,Missouri,6154889,6154426,6170393,6177168,6196156
31,Montana,1084244,1087211,1106366,1122878,1132812
32,Nebraska,1961965,1963273,1964253,1968060,1978379
33,Nevada,3104617,3115840,3146632,3177421,3194176
34,New Hampshire,1377524,1378702,1387494,1399003,1402054
35,New Jersey,9289039,9272392,9269175,9260817,9290841
36,New Mexico,2117525,2118488,2116950,2113476,2114371
37,New York,20202320,20104710,19854526,19673200,19571216
38,North Carolina,10439459,10453812,10567100,10695965,10835491
39,North Dakota,779079,779563,777982,778912,783926
40,Ohio,11799331,11798292,11765227,11759697,11785935
41,Oklahoma,3959411,3965234,3991634,4019271,4053824
42,Oregon,4237279,4245044,4256465,4239379,4233358
43,Pennsylvania,13002788,12995477,13013614,12972091,12961683
44,Rhode Island,1097371,1096444,1097092,1093842,1095962
45,South Carolina,5118422,5132151,5193848,5282955,5373555
46,South Dakota,886668,887852,896299,909869,919318
47,Tennessee,6910786,6926091,6963709,7048976,7126489
48,Texas,29145459,29234361,29561286,30029848,30503301
49,Utah,3271614,3283982,3339284,3381236,3417734
50,Vermont,643077,642936,647093,647110,647464
51,Virginia,8631373,8637193,8657348,8679099,8715698
52,Washington,7705267,7724566,7741433,7784477,7812880
53,West Virginia,1793713,1791562,1785249,1774035,1770071
54,Wisconsin,5893713,5896700,5879978,5890543,5910955
55,Wyoming,576850,577664,579548,581629,584057
57,Puerto Rico,3285874,3281557,3262693,3220113,3205691

In [28]:
df2.to_csv("us_pop_info.csv")
df.to_csv("covid.csv", encoding="utf8", index=False)